<section class="py-20 lg:pt-28 lg:pb-56">
    <div class="fluid-container grid-default gap-y-20">
        {{ lists }}
            <div class="col-span-2 sm:col-span-12 lg:col-span-4">
                <h2 class="text-body font-bold">{{ heading }}</h2>
                <ul class="mt-4 space-y-2">
                    {{ items }}
                        <li class="text-body">{{ value }}</li>
                    {{ /items }}
                </ul>
            </div>
        {{ /lists }}
    </div>
</section>
